@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px; /* Reduce scrollbar width */
    height: 6px; /* Reduce scrollbar height for horizontal bars */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 3px; /* Rounded corners for thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

::-webkit-scrollbar-track {
    background: transparent; /* Lighter background for track */
}

/* Remove arrows (optional) */
::-webkit-scrollbar-button {
    display: none;
}
